.fontVal{
    font-family: "Comic Sans MS";
    font-size: 100px;
}

.fontTitle{
    font-family: "Comic Sans MS";
    font-size: 30px;
}

body{
    text-align: center;
    padding: 100px;
    height: 100vh;
    background-image: linear-gradient(to top, #c79081 0%, #dfa579 100%);
}

.toggle-off {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
    border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
    background-color: white;
    border: thin rgba(0, 0, 0, .25) solid;
}

.modeHeight{
    height: 100px;
}